Makefile
Makefile.in
aclocal.m4
application/.deps/
application/.libs/
application/Makefile
application/Makefile.in
application/Qt-1.0.gir
application/Qt-1.0.typelib
application/*.la
application/*.lo
autom4te.cache/
build-aux/
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
examples/hello.js
examples/hello.lisp
examples/hello.scm
examples/hello.py
libtool
m4/
pre-inst-env
stamp-h1
test-suite/lisp/Makefile
test-suite/lisp/Makefile.in
test-suite/scheme/Makefile
test-suite/scheme/Makefile.in